@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body{
   font-family: 'Open Sans',serif;
   font-style: inherit;
   color: greenyellow;
}

.header-container {
  margin: 15px;
  background-color: yellow;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}
.card-container {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border-width: 3px;
  border-color: rgb(228, 5, 5);
  border-style: solid;
  font-weight: bold;
  background-image: url(https://cdn.britannica.com/17/83817-050-67C814CD/Mount-Everest.jpg);
  background-size: 450px;
}